<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block link %}
    {% endblock %}
    <link rel="stylesheet" href="static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
<div class="sidenav">
    <!-- <div class="intro" style="display: flex; padding: 13px"> -->
    <h2 style="color: orange;font-weight: bolder;margin-bottom: 20px;">The <span><img src="static/images/reminders.png" alt="" style="width: 50px;"></span></h2>
       
<!-- </div> -->
     <h2 style="font-weight: bolder; "><a href="#about">Login<span class="material-icons">
        login
        </span></a></h2>
     <h2 style="font-weight: bolder; "><a href="/">Home</a></h2>
    <div class="row g-3" style="margin-top: 10px;">

        <div class="col" style="display: flex;">
          <form action="" method="POST">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search">
          <button type="submit">submit</button></form>
          <span class="material-icons" style="color: gainsboro; margin-top: 7px;">
            search
            </span>
        </div>
   
    <a href="/News">News</a>
    <a href="/Sports">Sports</a>
    <a href="/movies">Movies</a> 
    <a href="/tech">Technology</a> 
    <a href="/Music">Music</a>
    <a href="/Entertainment">Entertainment</a>
    <div class="icons" style="display: flex; padding: 10px; justify-content: space-between;">
     
          <img src="static/images/twitter.png" style="width: 47px;" alt="">
          <img src="static/images/facebook.png" style="width: 47px;" alt="">
          <img src="static/images/instagram.png" style="width: 47px;" alt="">
          <img src="static/images/linkedin.png" style="width: 47px;" alt="">
          </div>
 </div>
  </div>
    
    {%  block body %}

    {% endblock %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">

    
    
 </script>
 <script>
     /* Set the width of the side navigation to 247px */
function openNav() {
  document.getElementById("mySidenav").style.width = "247px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
 </script>
</body>


</html>